* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --orange: hsl(25, 97%, 53%);
    --white:hsl(0, 0%, 100%);
    --medium-grey:hsla(220, 6%, 20%, 0.742);
    --dark-blue:hsl(213, 19%, 18%);
    --very-dark-blue:hsl(216, 12%, 8%);
}
body{
    background-color: var(--very-dark-blue);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    height: 100vh;
}
p {
    font-size: 15px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}
.rate-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    min-height: 400px;
    background-color: var(--dark-blue);
    border-radius: 15px;
}
.rate-box__top-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--medium-grey);
}
.rate-box__heading{
    padding: 20px 0;
}
.rate-box__text {
    color: rgba(181, 181, 181, 0.605);
    line-height: 22px;
}
.rate-box__ratings{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;

}
.rate-box__ratings-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--medium-grey);
}
.submit {
    margin-top: 22px;
    height: 50px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
/* 
@media(min-width:375px){

} */